@import './assets/styles/global.css';
@import 'notyf/notyf.min.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300;14..32,400;14..32,500;14..32,600;14..32,700&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Syne:wght@400;600;700;800&family=DM+Sans:wght@300;400;500;600&display=swap');

#root {
  width: 100%;
  min-height: 100vh;
}

.font-syne {
  font-family: 'Syne', sans-serif;
}
